* {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
        }
        body {
          width: 100%;
          height: fit-content;
          caret-color: transparent;
        }
        header {
          width: 100%;
          min-height: 10vh;
          /* background-color: aqua; */
        }
        .top-nav {
          background-color: rgb(2, 93, 2);
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .inner-nav {
          width: 80%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 5px 0;
          font-family: "Manrope", sans-serif;
        }
        .bottom-nav .inner-nav{
          width: 85%;
            /* background-color: red; */
        }
        .top-nav p {
          font-size: 14px;
          display: flex;
          align-items: center;
        }
        .fa-phone {
          margin-right: 5px;
        }
        .seperator {
          margin: 0 10px;
          font-size: 20px;
        }
        ul {
          list-style: none;
          display: flex;
          font-size: 14px;
        }
        li {
          position: relative;
          cursor: pointer;
          margin: 0 10px;
        }
        label {
          display: flex;
          align-items: center;
          gap: 5px;
          cursor: pointer;
        }
        input[type="checkbox"] {
          display: none;
        }
        ul li ul {
          position: absolute;
          top: 130%;
          left: 0;
          background: white;
          flex-direction: column;
          border-radius: 4px;
          opacity: 0;
          visibility: hidden;
          transform: translateY(-10px);
          transition: all 0.3s ease;
          box-shadow: 0 2px 8px rgba(0,0,0,0.2);
          z-index: 10;
        }
        ul li ul li {
          padding: 10px;
          margin: 0;
          white-space: nowrap;
          width: 100%;
        }
        ul li ul li:hover {
          background-color: rgb(2, 93, 2);
          color: white;
        }
        ul li ul li a {
          text-decoration: none;
          font-size: 14px;
        }
        ul li a {
          color: black;
          text-decoration: none;
          font-size: 14px;
        }
        ul li ul li:hover a{
          color: white;
        }
        input:checked + label + ul {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
        .fa-chevron-down {
          display: inline;
        }
        .fa-chevron-up {
          display: none;
        }
        input:checked + label .fa-chevron-up {
          display: inline;
        }
        input:checked + label .fa-chevron-down {
          display: none;
        }
        .bottom-nav {
          padding: 10px 0;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 0 auto;
          width: 80%;
          height: 50%;
          font-family: "Kumbh Sans", sans-serif;
        }
        .categories {
          display: grid;
          grid-template-columns: 1fr 1fr;
          padding: 5px;
          gap: 8px;
          width: 500%;
          margin-top: 18px;
          animation: categories 0.3s ease-in-out;
        }
        @keyframes categories{
          0%{
            opacity: 0;
            transform: translateY(-20px);
          }
          100%{
            opacity: 1;
            transform: translateY(0px);
          }
        }
        .categories li {
          margin: 0;
          padding: 0;
          background-color: transparent;
        }
        .categories li:hover {
          background-color: transparent;
        }
        .categories li a {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5px;
          background-color: white;
          padding: 3px;
          border-radius: 5px;
          font-family: "Kumbh Sans", sans-serif;
        }
        .categories li a:hover {
          box-shadow: 0 0 8px rgba(0,0,0,0.2);
          color: black;
        }
        .categories li p {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 40px;
          font-size: 16px;
          font-weight: 600;
        }
        .categories li p span {
          font-size: 12px;
        }
        .accounts {
          display: flex;
          flex-direction: column;
          width: 100%;
          padding: 5px;
          gap: 3px;
          animation: categories 0.3s ease-in-out;
        }
        .accounts li {
          width: 100%;
          margin: 0;
          padding: 5px;
        }
        .accounts li:hover {
          background-color: rgb(2, 93, 2);
          color: white;
        }
        form {
          background-color: rgb(2, 93, 2);
          display: flex;
          width: 30%;
          align-items: center;
          justify-content: space-between;
          border-radius: 5px;
          transition: width 0.3s ease, box-shadow 0.3s ease;
        }
        form input {
          background-color: rgb(2, 93, 2);
          padding: 8px 10px;
          caret-color: white;
          width: 85%;
          outline: none;
          border: none;
          color: white;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
          font-family: "Kumbh Sans", sans-serif;
        }
        form input::placeholder {
          color: white;
          opacity: 0.7;
        }
        form:focus-within {
          box-shadow: 0 0 10px rgb(2, 93, 2);
          width: 50%;
        }
        .menu-bar .fa-xmark{
          display: none;
          color: white;
          font-size: 30px;
        }
        #menu-bar:checked ~ .menu-bar .fa-bars {
          display: none;
        }
        #menu-bar:checked ~ .menu-bar .fa-xmark {
          display: inline;
        }
        .fa-bars{
          color: white;
          font-size: 30px;
        }
        form button {
          width: 10%;
          background-color: transparent;
          border: none;
          outline: none;
          color: white;
          cursor: pointer;
        }
        .menu-bar {
          display: none;
        }
        .mobile-search{
          display: none;
        }
        .headphone-discount{
          width: 100%;
          height: 60vh;
          background-color: 90%;
          display: flex;
          justify-content: center;
          background: 
          url('/images/bg-pattern-intro-desktop.svg') no-repeat center center,
          linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
          border-bottom-left-radius: 80px;
          background-position: center;
          font-family: "Kumbh Sans", sans-serif;
          overflow: hidden;
          position: relative;
        }
        .inner-section{
          width: 80%;
          height: 100%;
        }
        .inner-section .text-section p{
          font-size: 40px;
          font-weight: 600;
          padding: 40px 0;
          padding-right: 600px;
          color: rgb(2, 93, 2);
        }
        .inner-section span{
          font-size: 20px;
          font-weight: 500;
        }
        .inner-section a{
          padding:15px;
          border-radius: 30px;
          text-decoration: none;
          background-color: rgb(2, 93, 2);
          color: white;
          overflow: hidden;
        }
        .circle{
          width: 700px;
          height: 700px;
          left: 65%;
          top: 5%;
          border-radius: 50%;
          background-color: rgb(2, 93, 2);
          position: absolute;
        }
        .circle img{
          position: absolute;
          z-index: 999;
          width: 300px;
          left: 20%;
          animation: headerImg 0.6s linear;
        }
        .text-section{
          animation: textSection 0.6s linear;
        }
        @keyframes headerImg {
          0%{
            opacity: 0;
            transform: translateY(-100px);
          }
          100%{
            opacity: 1;
            transform: translateY(0px);
          }
        }
        @keyframes textSection {
          0%{
            opacity: 0;
            transform: translateX(-100px);
          }
          100%{
            opacity: 1;
            transform: translateX(0px);
          }
        }
        .cta-section{
          width: 100%;
          height: 50vh;
          margin-top: 30px;
          font-family: "Kumbh Sans", sans-serif;
          display: flex;
          align-items: center;
          justify-content: center;
          /* background-color: blue; */
        }
        .categories-cards{
          width: 100%;
          height: 80%;
          display: grid;
          grid-template-columns: repeat(6, 1fr);
          column-gap: 10px;
          margin-top: 20px;
          /* background-color: red; */
        }
        .categories-cards .card:nth-child(1){
          background: url(/Images/card_furniture.avif);
          background-position: center;
          background-size: cover;
          display: flex;
          justify-content: center;
          align-items: flex-end;
          font-size: 22px;
          font-weight: 500;
          color: black;
          border-radius: 10px;
          cursor: pointer;
        }
        .categories-cards .card:nth-child(2){
          background: url(/Images/card_shoe.avif);
          background-position: center;
          background-size: cover;
          display: flex;
          justify-content: center;
          align-items: flex-end;
          font-size: 22px;
          font-weight: 500;
          color: black;
          border-radius: 10px;
          cursor: pointer;
        }
        .categories-cards .card:nth-child(3){
          background: url(/Images/card_bag.avif);
          background-position: center;
          background-size: cover;
          display: flex;
          justify-content: center;
          align-items: flex-end;
          font-size: 22px;
          font-weight: 500;
          color: black;
          border-radius: 10px;
          cursor: pointer;
        }
        .categories-cards .card:nth-child(4){
          background: url(/Images/card_tech.avif);
          background-position: center;
          background-size: cover;
          display: flex;
          justify-content: center;
          align-items: flex-end;
          font-size: 22px;
          font-weight: 500;
          color: black;
          border-radius: 10px;
          cursor: pointer;
        }
        .categories-cards .card:nth-child(5){
          background: url(/Images/card_travel.jpg);
          background-position: center;
          background-size: cover;
          display: flex;
          justify-content: center;
          align-items: flex-end;
          font-size: 22px;
          font-weight: 500;
          color: black;
          border-radius: 10px;
          cursor: pointer;
        }
        .categories-cards .card:nth-child(6){
          background: url(/Images/card_book.avif);
          background-position: center;
          background-size: cover;
          display: flex;
          justify-content: center;
          align-items: flex-end;
          font-size: 22px;
          font-weight: 500;
          color: black;
          border-radius: 10px;
          cursor: pointer;
        }
        .text-gradient{
          width: 100%;
          height: 20%;
          padding: 0 10px;
          display: flex;
          align-items: center;
          background: linear-gradient(transparent, #777676);
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
        }
        .categories-cards .card{
          transition: transform 0.3s ease, box-shadow 0.3s ease
        }
        .categories-cards .card:hover {
          box-shadow: 0 0 10px #999;
          transform: translateY(-10px);
        }
        @media (max-width: 768px) {
          .top-nav{
            display: none;
          } 
          .bottom-nav{
            background-color: rgb(2, 93, 2);
            padding:  15px;
            width: 100%;
          }
        
          h1{
            color: white;
          }
          .mobile-search{
            display: block;
            width: 90%;
            margin: 20px auto;
          }
          .mobile-search:focus-within{
            width: 90%;
          }
          .bottom-nav .inner-nav {
            display: none;
            flex-direction: column;
            align-items: flex-start;
            width: 80%;
            padding: 10px;
            background-color: white;
            position: absolute;
            top: 9%;
            left: 10%;
            z-index: 20;
            box-shadow: 0 4px 8px rgba(0,0,0,0.2);
            border-radius: 10px;
          }
          #menu-bar:checked ~ .inner-nav {
            display: flex;
          }
          .menu-bar {
            display: block;
            cursor: pointer;
          }
          .logo-box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
          }
          .bottom-nav ul {
            flex-direction: column;
            width: 100%;
            
          }
          .bottom-nav ul li {
            margin: 5px 0;
            width: 100%;
          }
          .other-links {
            flex-direction: column;
          }
          .categories {
            position: static;
            display: none;
            grid-template-columns: 1fr;
            width: 100%;
            margin: 10px 0;
            padding:0  10px;
            gap: 0;
            opacity: 0;
            transition: 0.5s linear;
          }
          label, ul li a{
            font-size: 18px;
            font-weight: 500;
            font-family: "Kumbh Sans", sans-serif;
          }
          #categories:checked + label + .categories {
            display: grid;
            opacity: 1;
          }
          .bottom-nav ul li ul:not(.categories):not(.accounts) {
            position: static;
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
            box-shadow: none;
            background-color: #f5f5f5;
          }
          .categories li{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0px 0px;
            color: black;
          }
          .categories li a{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            color: white;
            padding: 0px 20px;
            border-radius: 5px;
            background-color: rgb(2, 93, 2);
          }
          .categories li:hover{
            color: black;
          }
          .categories li:hover a{
            box-shadow: none;
            color: white;
          }
          .categories li p{
            justify-content: center;
            align-items: center;
          }
          .categories li img{
            display: none;
          }
          .categories li span{
            display: none;
          }
           .accounts {
            position: static;
            display: none;
            width: 100%;
            margin: 5px 0;
            gap: 0;
            justify-content: center;
            align-items: center;
            padding: 5px 10px;
          }
          .accounts li{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0px;
            padding: 0;
          }
          .accounts li:hover{
            background-color: white;
            color: black;
          }
          .accounts li a{
            width: 100%;
            background-color: rgb(2, 93, 2);
            padding: 10px 20px;
            color: white;
            border-radius: 5px;
            font-weight: 600;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .accounts li:hover a{
            color: white;
          }
          #account:checked + label + .accounts {
            display: flex;
          }
          form{
            display: none;
          }
          form {
            width: 100%;
            margin: 10px 0;
          }
          form input{
            padding: 15px;
          }
          form:focus-within {
            width: 100%;
          }
          .headphone-discount{
            height: 40vh;
            border-top-right-radius: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .inner-section{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
          }
          .inner-section .text-section p{
            padding: 0px 15px;
            padding-bottom: 30px;
            font-size: 30px;
          }
          .inner-section .text-section span{
            font-size: 18px;
          }
          .inner-section .text-section a{
            padding: 15px 80px;
          }
          .circle{
            display: none;
          }
          .cta-section{
            display: none;
          }
        }